<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />

       <% avatar_url = User.avatar_url(@user, 128) %>
       <% unless avatar_url.nil? %>
         <div class="media-left">

           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%#= pluralize(@user.comments.count, 'comment') %>
           <div class='js-comments-count'><%= pluralize(@user.comments.count, 'comment') %></div>
         </small>
         </small>
       </div>
     </div>
   </div>
 </div>
 
 
<% if @user.posts.count == 0 %>
    <%= "I have not submitted any posts yet!" %>
    <% else %>
    <h2>My Posts</h2>
    <%= render @user.posts %>
<% end %>

<% if @user.comments.count == 0 %>
    <br> <%= "I have not submitted any comments yet!" %> </br> 
    <% else %>
    <h2>My Comments</h2>
    <%= render @user.comments %>
<% end %>
 
<% if @user.favorites.count == 0 %>
    <%= "I have not favorited anything yet!" %>
    <% else %>
    <h2>My Favorites</h2>
    <div>
    <small>
    <% @user.favorites.each do |favorite| %>
        <br> Title: <%= favorite.post.title %>, Votes: <%= favorite.post.votes.count %>, Comments: <%= favorite.post.comments.count %> </br>
        <%= favorite.post.user.name %>
        <% other_avatar_url = User.avatar_url(favorite.post.user, 32) %>
        <%= image_tag other_avatar_url, class: 'media-object' %>
    <% end %>
    </small>
    </div>
<% end %>
  

 
 
